<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.1.7424.0" defaultCultureKey="">
	<cultures>
		<add culture="zh" uiCulture="zh" key="chinese-zh" />
	</cultures>
</resourcesConfig>