<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.1.7424.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="DDEC19FF5C801FD87EB1BDF66550587B28BB0C696D7EC2B1D79EE178BF1B2E8A88C397C136CE0448B48CA98E72AB2B1DC38245A30158DC0502DDECFF20BB2234" decryptionKey="21C1C9318DC41E0002A9EE23911D62A7DFC321A36B27BC1EA9BB688CE14C1103" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="7ACFDCB43E5C6DCFD272F20EC2BA067ADCD13928CD7864F150AC49033EF8D6FF" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="7ACFDCB43E5C6DCFD272F20EC2BA067ADCD13928CD7864F150AC49033EF8D6FF" realm="http://localhost" />
	</relyingParties>
</securityConfig>